@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
 }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.baseText {
  position: absolute;
  top: 0px;

  color: rgb(40, 59, 83);
  font-size: xx-large;
  font-family: 'Trebuchet MS';
}

.containerDiv {
  margin: 5rem 7rem 10rem 7rem;
}
.green {
  background-color: green;
}

.red {
  background-color: red;
}

.inputText {
  display: flex;
  display: none;
}

.wrong {
  color: red;
}

.hidden {
  visibility: hidden;
}

.element {
  background-color: #f2f2f2;
}

body{
  background-color: rgb(103, 103, 103);
  margin: 0;
  padding: 0;
}

p {
  color: white;
}

#wrapperHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  height: 5rem;
}

.inputDiv {
  background-color: white;
  display: flex;
  justify-content: center;
  position: relative;

  height: 15rem;
  border: solid 10px wheat;
  border-radius: 1.5rem;
  border: 10px solid rgba(255,255,255,.5);

}

.inputElement {
  width: 100%;
  font-size: x-large;
  padding-bottom: 13rem;
  border: none;
  outline: none;
  color: transparent;
}

#correct {
  color: black;
}

#incorrect {
  color: red;
}

.promptText {
  color: grey;
  font-family: 'Courier Prime', monospace;
  font-size: x-large;
  position: absolute;
  top: 5%;
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%; /* add this to make sure the text wraps inside the container */

}

h1 {
  font-family: 'Courier Prime', monospace;
}