body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.baseText {
  position: absolute;
  top: 0px;

  color: rgb(40, 59, 83);
  font-size: xx-large;
  font-family: 'Trebuchet MS';
}

.containerDiv {
  position: relative;
  margin: 0rem 3rem 10rem 3rem;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}